.loginstyle{
    align-content: center;
    
    background-image: url("https://cdn.pixabay.com/photo/2020/03/18/14/48/clouds-4944276_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}